<p id="notice"><%= notice %></p>
<table>
  <tr>
  <th>Name:</th>
  <th>Time Spent:</th>
  <th>Description:</th>
</tr>
<tr>
  <td><%= @task.name %></td>
  <td><%= @task.time_spent %></td>
  <td><%= @task.description %></td>
  <td>Created on: <%= @task.created_at.to_formatted_s(:long_ordinal) %></td>
</tr>
</table>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
